<div class="main-content">
  <div class="header-content">
    <div class="emp-detail-text">
      Employee Details
      <div class="emp-count">1</div>
    </div>
    <a class="add-button" routerLink="/form">
      <img src="../../../assets/Icons/add-24px.svg" alt="" />Add User</a
    >
  </div>
  
  <div class="table-main">
    <table id="table-display" class="table">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>
          <img
            class="profile"
            src="../../../assets/Profile-Images/Ellipse -03.png"
            alt=""
          />
        </td>
        <td>Akshar Hate</td>
        <td>Male</td>
        <td>
          <div class="dept-label">Engineer</div>
        </td>
        <td>200000</td>
        <td>20 Jan 2023</td>
        <td>
          <img src="../../../assets/Icons/delete-black-18dp.svg" alt="delete" />
          &nbsp;
          <img src="../../../assets/Icons/create-black-18dp.svg" alt="edit" />
        </td>
      </tr>
    </table>
  </div>
</div>
